<link rel="stylesheet" href="index.css">
<header>
  <div >
    <a href="index.html"><img class="imagembarra"
      src="https://cdn.discordapp.com/attachments/541387607649812500/969615213122977822/teste.png"></a>
    </div>
    <nav class="nav" id="menu">
        <ul>
          <li><a href="index.html">Home</a>
            <li><a href="sobre.html">Sobre</a>
             <li><a href="animais.html">Animais</a>
              <li><a href="vegetacao.html">Vegetação</a>
          </li>
          <li><a href="comochegar.html">Como Chegar</a>
          <li><a href="duvidas.html">Dúvidas</a>
          <li><a href="infra.html">Infraestrutura</a>
        </ul>
      </nav>
    </header>
    
