<!-- ? MATHEUS SANTOS CASTIÇO - 01/05/2022 
     ? SITE ZOO_ADG, WEBSITE PARA O ZOOLÓGICO DE GUARULHOS
     ? POTFÓLIO DA MATÉRIA WEBSTANDARTS, DO CURSO DE ANÁLISE E DESENVOLVIMENTO DE SISTEMAS. 
    -->

<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <title>Zoo ADG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/mobile-menu.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
  $("#header").load("template/header.html"); 
  $("#footer").load("template/footer.html"); 
});
</script> 
  </head>
  <body>
    <div class="tudo">
    <div id="header"></div> 


    
  
    <div class="texto" style="width: 80%;">
        <h2> DE UMA GRANDE CIDADE, A UMA GRANDE NATUREZA.</h2>
     <h3>
      <p>
          O Zoológico de Guarulhos, mantém cerca de 500 animais, de 100 diferentes espécies <br>
           priorizando a fauna nacional, com 91% de espécies nativas. <br>
      </p>
    </h3>
    </div>
    <div class="mapa"><img class="mapa" src="https://cdn.discordapp.com/attachments/541387607649812500/969622337513209906/unknown.png"/></div>
<div id="footer"></div>